* {
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(255, 243, 227);
  overflow-x: hidden;
  width: 100vw;
}

.navbar-flex {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(73, 62, 51, 0.3);
  overflow-x: hidden;
  width: 100vw;
}

.menu-flex {
  display: flex;
}

.navbar-color {
  background-color: rgb(243, 212, 174);
}

.no-style {
  list-style-type: none;
  text-decoration: none;
}

.align-logo {
  font-family: "Happy Monkey", cursive;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1rem auto 1rem 3rem;
}

.align-menu {
  text-align: center;
  justify-content: center;
  margin: auto 3rem auto auto;
}

.align-toggle {
  position: absolute;
  top: 0.3rem;
  right: 3rem;
}

.separate-a {
  margin: 0 0 0 2rem;
}
.separate-li {
  margin: 0.7rem 0;
}

.display-none {
  display: none;
}
.display {
  display: flex;
}

@media (max-width: 800px) {
  .display-none {
    display: flex;
  }

  .navbar-flex {
    flex-direction: column;
  }

  .align-mobile {
    margin: auto;
    display: none;
  }

  .align-mobile.active {
    display: flex;
  }

  .menu-flex {
    flex-direction: column;
  }

  .separate-a {
    margin: 0;
  }

  .extend {
    height: auto;
    display: block;
    padding: 0.8rem 0;
  }

  .extend:hover {
    background-color: rgb(245, 193, 129);
  }

  .extend-li {
    height: auto;
    display: block;
    margin: 0;
  }

  .extend-ul {
    padding: 0;
    display: inline-block;
    width: 100%;
  }

  .extend-span {
    width: 100%;
  }
}
